---
import '../assets/styles/global.css';
import { SITE_CONFIG } from '../config/site.config';

interface Props { title: string; }
const { title } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title} | {SITE_CONFIG.name}</title>
	</head>
	<body class="bg-console-bg text-console-white font-mono h-screen w-screen overflow-hidden flex flex-col">
		<!-- Barra de estado superior (Tmux status line) -->
		<header class="bg-[#00FF00] text-[#0D0D0D] text-[10px] sm:text-xs font-bold px-2 py-1 flex justify-between uppercase">
			<div class="flex gap-4">
				<span>[0] {SITE_CONFIG.author}</span>
				<span class="hidden sm:inline">TTY1</span>
				<span>{title}</span>
			</div>
			<div class="flex gap-4">
				<span class="animate-pulse">● EN LÍNEA</span>
				<span>{new Date().toLocaleDateString('es-AR')}</span>
			</div>
		</header>

		<!-- Área de trabajo interactiva -->
		<main class="flex-grow overflow-hidden flex flex-col md:flex-row">
			<slot />
		</main>
	</body>
</html>