---
import ConsoleLayout from '../../layouts/ConsoleLayout.astro';
import { Sidebar } from '../../components/dashboard/Sidebar.tsx';
import { ClientWorkspace } from '../../components/dashboard/ClientWorkspace.tsx';
import { ProtectedRoute } from '../../components/auth/ProtectedRoute.tsx';
import { getAvailableServices } from '../../services/services.service.ts';

const services = await getAvailableServices();
---

<ConsoleLayout title="Área de Cliente">
  <ProtectedRoute client:only="react">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-6 mt-6">
      
      <div class="lg:col-span-1">
        <Sidebar client:load />
      </div>

      <main class="lg:col-span-3">
        <!-- Inyectamos el nuevo Workspace Dinámico -->
        <ClientWorkspace client:load initialServices={services} />
      </main>

    </div>
  </ProtectedRoute>
</ConsoleLayout>